extends layout

block content
 div.wrapper
  div.left
   div.branding
    img(src="/images/logo.png" width="60%" height="60%" alt="logo")
   div.hero-meta.event-meta
    span.hero-meta-category.meta-category.cat-opinions NEXT
   h1.hero-title 11/17
   div.hero-meta.event-meta
    span.hero-meta-category.meta-category.cat-opinions DISCUSSION
    ul.discussion-list
     li Point number 1
     li Point Number 2
     li Point Number 3

   div.hero-meta.event-meta
    span.hero-meta-category.meta-category.cat-opinions LOCATION
    div.location
      img.location(src='/images/location-icon.svg' alt='location')
      a(href="#") Galvanize Boulder
   button.button RSVP
  div.right
   h1.archive Past Discussions
   div.archive
    ul
     span.date 11/22/16
     li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
     li Nunc eget volutpat dui. Duis lobortis, turpis id varius dictum, leo dui euismod dui, ac gravida purus ligula et augue. 
     li Phasellus mattis suscipit lacus pretium interdum.
    ul
     span.date 11/22/16
     li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
     li Nunc eget volutpat dui. Duis lobortis, turpis id varius dictum, leo dui euismod dui, ac gravida purus ligula et augue. 
     li Phasellus mattis suscipit lacus pretium interdum.
    ul
     span.date 11/22/16
     li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
     li Nunc eget volutpat dui. Duis lobortis, turpis id varius dictum, leo dui euismod dui, ac gravida purus ligula et augue. 
     li Phasellus mattis suscipit lacus pretium interdum.
    ul
     span.date 11/22/16
     li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
     li Nunc eget volutpat dui. Duis lobortis, turpis id varius dictum, leo dui euismod dui, ac gravida purus ligula et augue. 
     li Phasellus mattis suscipit lacus pretium interdum.
    ul
     span.date 11/22/16
     li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
     li Nunc eget volutpat dui. Duis lobortis, turpis id varius dictum, leo dui euismod dui, ac gravida purus ligula et augue. 
     li Phasellus mattis suscipit lacus pretium interdum.
    ul
     span.date 11/22/16
     li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
     li Nunc eget volutpat dui. Duis lobortis, turpis id varius dictum, leo dui euismod dui, ac gravida purus ligula et augue. 
     li Phasellus mattis suscipit lacus pretium interdum.  