@font-face
  font-family: "Native Light"
  src: url("Native-Regular.otf")

@font-face
  font-family: "Native Bold"
  src: url("Native-Bold.otf")

html, body
  font-family: 'Proxima Nova'
  font-size: 14px
  height: 100%
  background-color: #FFFFFF

body
  padding-left: 30px  

a
  color: #63666C
  text-decoration: none

a:hover
  color: #FF4A37  


.header
  display: flex
  align-items: center
  background-color: #ffffff
  width: 100%
  height: 70px
  top: 0
  text-align: left
  padding: 90px 0px 90px 0px

.header img
  margin: 2px

.logo
  width: 345px  

.design-debate
  width: 1100px
  margin: 0 auto

nav
  float: right
  text-align: right
  padding-right: 72px

nav ul
  display: inline-block
  list-style: none

nav ul li
  font-size:14px
  font-family: 'Proxima Nova'
  font-weight: 600

nav ul li:a
  color: green

.wrapper
	margin: 0 auto 100px auto
	max-width: 1100px
	display: flex
	flex-direction: row

.left
	flex: 0 0 32rem
	padding: 0rem 0rem 0rem 0rem
	max-width: 250px
	postion: fixed

.event-date
  padding: 30px 0 40px 0
  border-top: 4px solid black

.small-title
  font-family: 'Proxima Nova'
  padding-bottom: 5px
  margin: 0px
  font-size: 12px
  font-weight: 600

.med-title
  font-family: 'Proxima Nova'
  padding: 0px
  margin: 0px
  font-size: 18px
  font-weight: 600 
  line-height: 12px 

.red
  color: #FF4A37  

.location
  padding: 30px 0 40px 0
  border-top: 4px solid black

.sponsors
  padding: 30px 0 40px 0
  border-top: 4px solid black
  margin-top: 50px

.sponsor-logo img
  width: 200px

.sponsor-logo
  padding-top: 20px  

.location a
  font-weight: 600  


.right
  flex: 1
  max-width: 800px
  min-width: 400px
  padding-left: 65px

.current
  padding: 20px 0px 20px 0px
  border-top: 4px solid black

.current ol
  padding-left: 0px
  padding-top: 0px
  padding-bottom: 0px  
  font-family: 'Proxima Nova'
  font-weight: 600
  font-size: 1rem
  list-style: none

.current ol li
  padding-top: 10px
  padding-bottom: 10px  

.branding
  display: flex
  justify-content: center
  flex: 1

.event-meta
  font-family: "Proxima Nova","Proxima-Nova","Helvetica Neue",Helvetica,Arial,sans-serif
  width: 100%

.hero-meta
  transition: opacity 0.125s ease
  margin-top: 0px
  margin-bottom: 16px

.label-bar
  width: 52px
  border-top: 4px solid black
  margin-bottom: 10px

.meta-category
  font-family: "Native Light"
  font-size: 11px
  font-weight: 700
  text-transform: uppercase

.hero-meta-category
  margin-right: 18px

.cat-opinions
  color: gray

.discussion-list
  padding:0px
  margin: 35px 0px 0px 0px

.discussion-list li
  font-family: 'Native Bold'
  font-size: .75em
  margin-left: 20px
  padding-top: 30px

.discussion-list li:first-child
  padding-top: 0px  

h1.hero-title
  text-align: left
  font-family: 'Proxima Nova'
  margin:0px
  padding-top: 0px
  font-size: 36px
  font-weight: 600
  color: #FF4A37

.location img
  padding-right: 10px    

.button
  font-family: 'Proxima Nova'
  background-color: #FFFFFF
  width: 100%
  border: 4px solid #282828
  color: #FF0000
  padding: 12px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 18px
  margin: 40px 2px
  -webkit-transition-duration: 0.4s
  transition-duration: 0.4s
  cursor: pointer

.button:hover
  border: 4px solid #ff0000

h1.archive
  font-family: 'Native light'
  font-size: .75rem
  color: black
  text-transform: uppercase


.archive
  padding-top: 20px

.past-debates
  padding-top: 20px
  border-top: 4px solid black

.debate-history
  padding-top: 20px
  padding-bottom: 30px

.debate-content
  border-bottom: 1px solid black  


.debate-history ul
  margin: 0px
  padding-top: 35px
  padding-bottom: 30px
  padding-left: 0px
  list-style: none
  font-family: 'Proxima Nova'
  font-size: .875rem 
  border-top: 1px solid black

.debate-history ul li
  padding-bottom: 10px

.topics
  border-top: 1px solid black
  margin-top: 20px

.topics ul
  margin: 0px
  padding: 0px 0px 20px 0px  

.topics ul li
  font-size: 14px
  font-weight: 300
  padding-left: 0px
  margin: 0px
  list-style: none
  padding-top: 32px

.topics ul li:first-child
  padding-top: 20px  

.small-link
  border-bottom: 1px dotted red

.date
  margin-top: 30px

.notes
  border-top: 1px dotted gray
  padding-top: 20px

h1.surprise
	margin:0px
	padding: 0px

h2
	margin: 0px
	padding: 0px