@font-face
  font-family: "Native Light"
  src: url("Native-Regular.otf")

@font-face
  font-family: "Native Bold"
  src: url("Native-Bold.otf")

html, body
  height: 100%
  background-color: #e3e3e3

.wrapper
	display: flex
	flex-direction: row
	overflow: hidden
	height: 100vh

.left
	flex: 0 0 32rem
	padding: 0rem 2.5rem 0rem 2.5rem
	max-width: 25rem
	background-color: #EEEEEC

.right
  background-color: white
  flex: 1
  overflow: auto
  padding: 4.45rem

.branding
  display: flex
  padding: 2.5em
  justify-content: center

.event-meta
  display: inline-block
  font-family: "Proxima Nova","Proxima-Nova","Helvetica Neue",Helvetica,Arial,sans-serif
  width: 100%

.hero-meta
  transition: opacity 0.125s ease
  margin-top: 60px
  margin-bottom: 16px

.label-bar
  width: 52px
  border-top: 4px solid black
  margin-bottom: 10px

.meta-category
  font-family: "Native Light"
  display: inline-block
  float: left
  font-size: 11px
  font-weight: 700
  text-transform: uppercase

.hero-meta-category
  margin-right: 18px
  white-space: nowrap

.cat-opinions
  color: #65655D

.discussion-list
  padding:0px
  margin: 35px 0px 0px 0px

.discussion-list li
  font-family: 'Native Bold'
  font-size: .75em
  margin-left: 20px
  padding-top: 30px

.discussion-list li:first-child
  padding-top: 0px  

h1.hero-title
  font-family: 'Proxima Nova'
  margin:0px
  padding: 0px
  font-size: 5em
  font-weight: 300
  color: #C9C9C9
  line-height: 80px

.location
  margin-top: 20px

.location img
  padding-right: 10px    

.button
  background-color: #eeeeec
  border: 3px solid gray
  color: #FF4A37
  padding: 16px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
  margin: 40px 2px
  -webkit-transition-duration: 0.4s
  transition-duration: 0.4s
  cursor: pointer

h1.archive
  font-family: 'Native Bold'
  font-size: .875rem
  color: black

.archive
  margin-top: 40px

.archive ul:first-child
  border-top: 1px solid black
  border-bottom: 1px solid black
  padding-top: 40px
  padding-bottom: 40px 
  padding-left: 0px
  list-style: none 
  font-family: 'Native Bold'
  font-size: .75rem  

.archive ul
  border-bottom: 1px solid black
  padding-left: 0px
  padding-top: 40px
  padding-bottom: 40px  
  font-family: 'Native Bold'
  font-size: .75rem
  list-style: none 


.archive ul li
  padding-bottom: 10px

.archive ul li:last-child
  padding-bottom: 0px    

.date
	color: red

h1.surprise
	margin:0px
	padding: 0px

h2
	margin: 0px
	padding: 0px