@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
  .wrapper
    margin: 0 auto 100px auto
    min-width: 768px
    max-width: 1024px
    width: 1024px
    display: flex
    flex-direction: row

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)

  body
    padding: 0px
  
  .wrapper
     min-width: 320px
     max-width: 480px
     flex-direction: column
     margin: 0px auto 0px auto
     padding-left: 30px
     padding-right: 30px

   .left
     padding-left: 0px
     padding-right: 0px
     min-width: 320px
     max-width: 480px


   .right
     padding-left: 0px
     padding-right: 0px
     min-width: 320px
     max-width: 480px


  .header
    display: flex
    align-items: center
    background-color: #ffffff
    width: 100%
    top: 0
    text-align: left
    padding: 32px 0px 40px 0px

  .design-debate
    width: 100%
    display: flex
    justify-content: center 

  .logo
    width: 245px
    align-self: center
   nav
    display: none  
